@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.head_nav{
    width: 100vw;
    gap: 530px;
}
.head_anchorTags>a{
    text-decoration: none;
}
.head_nav  button{
    width: 77.796px;
    height: 32.512px;
    flex-shrink: 0;
    background-color: white;
    color:#FFCD2D ;
    border: 1px solid #FFCD2D;
}
.hero{
    width: 100%;
    position: relative;

}
.hero_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}
.hero_left>.left_heading{
    padding-top: 130px;
    padding-left: 60px;
    color: #FFCD2D;
}
.hero_left>p{
    padding-left: 60px;
    color: grey;
}
.hero_left button{
    width: 120px;
    margin-left: 60px;
    height: 40px;
    background-color: #FFCD2D;
    color: white;
    font-weight: 600;
    border: none;
    padding: 5px;

}
.vector-img{
    position:absolute;
    width: 130px;
    bottom: 0px;
}
.hero_right{
    width: 50%;
    height: 100vh;
    
}
.hero_right>img{
    padding-left: 130px;
}
.pop_up{
    position: absolute;
    width: 80%;
    height: 70%;
    /* border: 2px solid red; */
    left: 10%;
    top: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.topics{
    gap: 50px;
    flex-wrap: wrap;
}
.btn1{
    width: 100px;
    background-color: #e7e7e7;
    border: none;
    font-weight: 700;
    margin-left: 60px;
    border-radius: 5px;
    color: black;
}
.popUp_main{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color:rgba(58, 57, 54, 0.13);
}
.pop_off{
    display: none;
}
.pop_up >h1{
    padding-top: 5%;
    padding-left: 20%;
    color: black;
}
.pop_up>p{
    padding-left: 35%;
}
.cursor{
    cursor:none !important;
}
.start_quiz{
    width: 100px;
    position: absolute;
    
    right: 1%;
    bottom: 2%;
    /* display: flex;
    align-items: flex-end; */
    border: none;
    background-color: #FFCD2D;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.material-symbols-outlined{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: large;
    font-weight: 700;
}
.adding_btn{
    width: 120px;
    /* height: 40px; */
    border: none;
    font-weight: 700;
    margin-left: 60px;
    border-radius: 5px;
    background-color: #FFCD2D;
}
.fullScreen{
    width: 100vw;
    height: 100vh;
    background-color: red;
}
.quizArea{
    width: 100vw;
    height: 100vh;
}
.display-off{
    display: none;
}